<!-- Footer -->
<!--  -->
<a href="https://m.me/smartcopysolutions" target="_blank">
  <img src="../../assets/icons/Facebook-Messenger.png" alt="" class="float-button-image-ii" />
</a>

<a href="https://api.whatsapp.com/send?phone=5215576653476&text=Hola%20Smart%20Copy%20estoy%20interesado%20en%20sus%20servicios."
  target="_blank">
  <span class="pulse"></span>
  <img src="../../assets/icons/whatsapp_btn@1,5x.svg" alt="" class="float-button-image" />
</a>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="footer-col">
          <h4>SMART COPY</h4>
          <p>Impresión Inteligente</p>
          <p>Colima 158, Int. 23, Colonia Roma Norte, Cuauhtemoc, Ciudad de Mexico, 06700</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-col last">
          <h4>Sigenos en Facebook</h4>
          <span class="fa-stack">
            <a href="https://www.facebook.com/smartcopysolutions" target="_blank">
              <span class="pulseMessenger"></span>
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x"></i>
            </a>
          </span>
          <!-- <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x"></i>
            </a>
          </span>
          <span class="fa-stack">
            <a href="#your-link">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin-in fa-stack-1x"></i>
            </a>
          </span> -->
        </div>
      </div>
    </div>
  </div>
</div>