body,
html {
    width: 100%;
    height: 100%;
}

body,
p {
    color: #626262;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}
/**********************/
/*     16. Footer     */
/**********************/
.footer {
    padding-top: 4.625rem;
    padding-bottom: 0.5rem;
}

.footer .footer-col {
    margin-bottom: 2.25rem;
}

.footer h4 {
    margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
    color: #1958a3;
    font-size: 0.5rem;
    line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
    margin-left: 0.625rem;
}

.footer .fa-stack {
    margin-bottom: 0.75rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #fff;
    transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
    color: #1958a3;
    transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
    color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #00a7bd;
}

@media (min-width: 1200px) {
    .footer .footer-col {
        width: 90%;
    }

    .footer .footer-col.middle {
        margin-right: auto;
        margin-left: auto;
    }

    .footer .footer-col.last {
        margin-right: 0;
        margin-left: auto;
    }
}

.float-button-image {
    position: fixed;
    max-width: 90px;
    height: 90px;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}
.float-button-image-ii {
    position: fixed;
    max-width: 70px;
    height: 61px;
    bottom: 100px;
    z-index: 1 !important;
    right: 15px;
    cursor: pointer;
}
.pulse {
    position: fixed;
    bottom: 27px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    background-color: #1599a5 !important;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: all 200ms ease-in;
    margin: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: pulse-effect 1s 0s linear infinite;
    animation: pulse-effect 1s 0s linear infinite;
}
.pulseMessenger {
    position: fixed;
    bottom: 105px;
    right: 20px;
    cursor: pointer;
    background-color: #017fff !important;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: all 200ms ease-in;
    margin: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: pulse-effect 1s 0s linear infinite;
    animation: pulse-effect 1s 0s linear infinite;
}
@-webkit-keyframes pulse-effect {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
    }
}
@keyframes pulse-effect {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
    }
}
