<app-navbar></app-navbar>
<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Contáctanos</h1>
        <p style="width: 80%; text-align: center;"></p>
      </div>
    </div>
  </div>
</header>
<div id="request" class="form-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Smart Copy</h2>
          <p>COPY DIGITAL SOLUTIONS S.A. DE C.V.</p>
          <p>Teléfonos de contacto</p>

          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">55 71 60 04 18</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">55 71 60 04 11</div>
            </li>
          </ul>
          <p>Direcciones de correo</p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><a href="mailto:servicios@smartcopy.com.mx">servicios@smartcopy.com.mx</a></div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><a href="mailto:ventas@smartcopy.com.mx">ventas@smartcopy.com.mx</a></div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><a href="mailto:hblancas@smartcopy.com.mx">hblancas@smartcopy.com.mx</a></div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><a href="mailto:mestrada@smartcopy.com.mx">mestrada@smartcopy.com.mx</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d470.35323723099657!2d-99.159431!3d19.419927!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6366bd9404fec615!2sCubic%20Idea!5e0!3m2!1ses!2smx!4v1612404177736!5m2!1ses!2smx"
            height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
            class="mapa"></iframe>
        </div> <!-- end of form-container -->
        <!-- end of request form -->

      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of form-1 -->

<app-footer></app-footer>
<app-copyright></app-copyright>