<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <a class="navbar-brand logo-image" href="/"><img src="../../assets/images/logo-azul.png" alt="alternative" /></a>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"
    (click)="showCollapse()">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars" style="color:#4c4c4c; font-size:28px;"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Productos</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/products" class="dropdown-item">
            <span class="item-text">
              Inventario de equipos nuevos
            </span>
          </a>
          <div class="dropdown-items-divide-hr"></div>
          <a routerLink="/products" class="dropdown-item">
            <span class="item-text">
              Inventario de equipos Seminuevos
            </span>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" routerLink="/nuestras-soluciones">Soluciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/conocenos">Conocenos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Acerca de</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/terminos-y-condiciones" class="dropdown-item">
            <span class="item-text">
              Términos y condiciones
            </span>
          </a>
          <div class="dropdown-items-divide-hr"></div>
          <a routerLink="/politicas-de-devolucion" class="dropdown-item">
            <span class="item-text">
              Política de devoluciones
            </span>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" routerLink="/contactanos">Contáctanos</a>
      </li>
    </ul>
  </div>
</nav>