body,
html {
    width: 100%;
    height: 100%;
}

body,
p {
    color: #626262;
    font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}
.copyright {
    padding-top: 1rem;
    padding-bottom: 0.375rem;
    text-align: center;
}

.copyright .p-small {
    padding-top: 1.375rem;
    border-top: 1px solid #c4d8dc;
    opacity: 0.7;
}