<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="p-small">Copyright © 2016 SMART COPY - All rights reserved</p>
      </div>
    </div>
  </div>
</div>