<app-navbar></app-navbar>

<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Acerca de Nosotros</h1>
        <p style="width: 80%; text-align: center;"></p>
      </div>
    </div>
  </div>
</header>
<div id="services" class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align: start;">
          Conoce nuestros planes de renta, ahorra gastos y evita riesgos
        </h2>
        <p style="text-align: justify;">Multifuncionales disponibles en diferentes velocidades. La gama completa incluye versátiles multifuncionales
          a color, impresoras láser color,sistemas flexibles en blanco y negro, una selección de impresoras en blanco y
          negro desde unidades de sobremesa hasta dispositivos para grupos de trabajo.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <img class="card-image centerImg" src="../../assets/images/services-icon-3.svg" alt="alternative" >
          <div class="card-body">
            <h4 class="card-title">Multifuncionales Actualizados
            </h4>
            <p>Para una mejor interacción entre el usuario y el equipo haciendo uso de apps móviles para una mejor
              comodidad</p>
          </div>
        </div>
        <div class="card">
          <img class="card-image centerImg" src="../../assets/images/services-icon-2.svg" alt="alternative">
          <div class="card-body">
            <h4 class="card-title">Técnicos Capacitados y Expertos
            </h4>
            <p>Para revolver de forma rápida, precisa y profesional los problemas que surjan para satisfacción de
              nuestros clientes.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-image centerImg" src="../../assets/images/services-icon-1.svg" alt="alternative">
          <div class="card-body">
            <h4 class="card-title">Asistencia Remota Y
              Telefonica En Tiempo Real
            </h4>
            <p>Para ofrecer ayuda profesional de manera inmediata y así resolver problemas simples con los usuarios del
              MFP.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <br /> -->
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align: start;">
          Nos Esforzamos Cada Dia Para Obtener Mejores Resultados
        </h2>
        <p>Gracias al trabajo en equipo y el colaborar activamente con nuestros
          clientes, ofrecemos soluciones de impresión, innovadoras y sostenibles para optimizar el desarrollo de su
          empresa
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">EFICACIA Y RAPIDEZ EN EL SERVICIO
            </h4>
            <p>Tiempos de respuesta de máximo 4hrs. Soluciones remotas al tiempo del reporte y asistencia telefónica para problemas simples.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">CONECTIVIDAD REMOTA
            </h4>
            <p>A través de software como Team Viewer y otros softwares de conectividad remota, con chat online.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">IMPRESIONES DE 1800DPI X 1200DPI
            </h4>
            <p>Con la mejor resolución y equipos de alta velocidad para optimizar el desempeño de su empresa.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">SOLUCIONES TECNICAS INMEDIATAS
            </h4>
            <p>En caso de alguna falla mecánica en los MFP se le dará una solución inmediata para no detener la cola de impresión de los usuarios</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">COMPATIBILIDAD EN SISTEMAS OPERATIVOS
            </h4>
            <p>Nuestros MFP son 100% compatibles con cualquier S.O. y cuentan con drivers certificados para mejor conectividad de interfaz entre usuario y el equipo</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">IMPRESION DESDE DISPOSITIVOS MÓVILES
            </h4>
            <p>Imprima en cualquier momento para mayor comodidad desde dispositivos mobiles con AirPrint, Google Cloud Print o Mopria Print Service.
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <app-footer></app-footer>
  <app-copyright></app-copyright>