<app-navbar></app-navbar>
<div id="topContent" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of products" class="slide">
          <img [src]="path + slide" alt="" width="100%">
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h2>{{data.brand}}</h2>
      <h3>{{data.model}}</h3>
      <h4>{{data.priceIVA}}</h4>
      <h5># Stock id {{data.identified}}</h5>
      <div class="text-container">
        <h4 class="characteristics">Caracteristicas principales:</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Contador B/N:</strong> {{data.bncounter}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Contador a color:</strong> {{data.colorcounter}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Contador total:</strong> {{data.totalcounter}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Paginas por minuto:</strong> {{data.pagesperminute}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Calidad:</strong> {{data.quality}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Estado:</strong> {{data.status}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Garantia:</strong> {{data.warranty}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Precio (mas IVA):</strong> {{data.priceIVA}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Resolucion de impresión:</strong> {{data.printresolution}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Tamaños maximos de papel:</strong> {{data.maximumpapersizes}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Tamaños minimos de papel:</strong> {{data.minimumpapersizes}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Gramaje maximo de papel:</strong> {{data.maximumpaperweight}}
                </div>
              </li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Vida util de los consumibles:</strong> {{data.consumablelife}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de imagen K:</strong> {{data.imagingunitK}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de Revelado K:</strong> {{data.developmentUnitK}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de imagen C:</strong> {{data.imagingUnitC}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de Revelado C:</strong> {{data.developmentUnitC}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de imagen M:</strong> {{data.imagingUnitM}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de Revelado M:</strong> {{data.developmentUnitM}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de imagen Y:</strong> {{data.imagingUnitY}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de Revelado Y:</strong> {{data.developmentUnitY}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Banda de transferencia:</strong> {{data.transferBelt}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Unidad de Fijado:</strong> {{data.fixingUnit}}
                </div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">
                  <strong>Gomas de Alimentacion:</strong> {{data.foodGums}}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Productos similares</h2>
    <app-slider></app-slider>
  </div>
</div>
<app-footer></app-footer>
<app-copyright></app-copyright>