<app-navbar></app-navbar>
<!-- Header -->
<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Términos y Condiciones</h1>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->
<!-- Breadcrumbs -->
<div class="ex-basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs">
          <a routerLink="/">Inicio</a><i class="fa fa-angle-double-right"></i><span>Términos y Condiciones</span>
        </div> <!-- end of breadcrumbs -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Terms Content -->
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="text-container">
          <h3>SMART COPY</h3>
          <p>
            Los precios se encuentran en pesos mexicanos y no incluyen i.v.a.las imágenes, características,
            especificaciones y precios son ilustrativos y pueden variar o cambiar sin previo aviso.
          </p>
          <p>Los precios publicados en la página www.smartcopy.com.mx pueden variar en tienda física. Todos los
            productos que se ofrecen se encuentran sujetos a disponibilidad y hasta agotar existencias.</p>
          <ul class="list-unstyled li-space-lg indent">
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                Inventarios y precios. Cambios en los inventarios y precios
                la disponibilidad de los productos, precios, marcas y modelos pueden variar de acuerdo a la oferta del
                momento dispuesta por smart copy.
                Todos los precios no incluyen el impuesto al valor agregado, el precio señalado en la oferta de venta no
                es negociable, y será debidamente respetado al “cliente”.
              </div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                Opciones de pago metodos de pago. Aceptamos las siguientes formas de pago en órdenes de smartcopy:
                cualquier tarjeta de crédito o debito citibanamex, bancomer e inbursa ya sea visa o master card
                cualquier tarjeta de crédito american express a través de pay pal: cualquier tarjeta de crédito visa o
                master card; tarjetas de débito de bancomer, banamex, banorte, hsbc, santander.

                Consultar condiciones en https:ww.smartcopy.com.mx para compras realizadas a través del método de pago
                oxxo deberás considerar lo siguiente:
                <ol>
                  <li>
                    El monto total a pagar por el artículo debe ser exacto y en moneda nacional, incluyendo pesos y
                    centavos.
                  </li>
                  <li>Contarás con 72 (setenta y dos) horas para realizar el pago, smart copy no está obligado a
                    conservar, resguardar y/o apartar el artículo.</li>
                  <li>Transcurridas las 72 (setenta y dos) horas antes mencionadas sin que se haya realizado el pago, la
                    orden será cancelada.</li>
                  <li>Una vez que smart copy verifique que el pago ha sido realizado con éxito, su orden será procesada.
                  </li>
                  <li>
                    En caso de devolución o cancelación, el monto pagado será devuelto en “store credit” para uso
                    exclusivo en la tienda o almacen smart copy.
                  </li>
                </ol>
              </div>
            </li>
            <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">
                Garantía de precio bajo smart copy.
                Encuentra un precio más bajo y te lo igualamos solo en tienda física. Si encuentras un precio más bajo
                en productos participantes en tiendas de la competencia, te lo igualamos. Al momento de la compra
                igualaremos el precio actual para productos nuevos, idénticos y de disponibilidad inmediata en tiendas
                de la competencia físicas.<br />
                Igualación de precio en las tiendas físicas “precios garantizados por smart copy”
                smart copy ofrece a sus clientes la garantía de contar con precios competitivos por lo que en caso de
                encontrar un precio comprobable más bajo del mismo producto (misma marca, modelo, característica y
                serie), los igualamos al momento de la compra.<br />
                Hay dos formas de aplicación para las igualaciones de precio:
                <ol>
                  <li>Antes de realizar la compra: si un cliente encuentra un precio neto publicado más bajo de un
                    producto de la misma marca, modelo, característica y serie, igualaremos ese precio.</li>
                  <li>Cuando ya sucedió la compra: si un cliente compró a un precio mayor en cualquier tienda smart copy
                    y encontró publicado un precio menor en cualquiera de nuestras tiendas o en cualquier otro
                    establecimiento en méxico, se devolverá en nota de credito la diferencia del precio de venta pagado
                    contra el publicado.</li>
                </ol>
                ¿cómo aplicarlo? En ambos casos, la persona interesada presenta un comprobante original del precio más
                bajo vigente a ser igualado. Se aceptan como comprobantes de precio: recibos de pago original, flyers,
                volantes, catálogo o anuncio original, con datos y nombre del establecimiento.
                Nota: como proceso interno smart copy se encargara de verificar/comprobar el precio en el
                establecimiento, y se hara valido siempre y cuando el establecimiento cuente con su marca registrada o
                sea distribuidor de la misma, con su cumplimiento de sus obligaciones fiscales e inscritas en el
                registro federal de contribuyentes y este registrada en el regimen de personas morales.

              </div>
            </li>
          </ul>
        </div> <!-- end of text-container -->

        <div class="text-container">
          <h3>Restricciones</h3>
          <p>la igualación de precios solo es válida cuando el comparativo se da a precio regular por lo que no aplica o
            está sujeta a las siguientes restricciones:</p>
          <ol>
            <li>No incluye errores tipográficos, ofertas, promociones (incluso de la propia tienda smart copy),
              liquidaciones y ventas por cierre.</li>
            <li>El anuncio mostrado deberá de estar fechado con un máximo de 30 días posteriores a publicación.</li>
            <li>Sólo aplica en publicaciones de comercio en méxico y de la misma entidad federativa.</li>
            <li>No aplica para ofertas publicadas en sitios de venta exclusiva por internet</li>
            <li>Ofertas de productos en promoción (descuentos en monto o porcentaje) o productos gratis ofrecidos por
              cualquier otro establecimiento ubicado dentro de la república mexicana.</li>
            <li>Artículos de cantidad limitada (remates de mercancía).</li>
            <li>Artículos que se vendan abiertos , de exhibición o re-manufacturados, con caracteristicas no igualables.
              8. Mercancía en liquidación.
            </li>
            <li>Reembolsos/incentivos por correo (reembolsos, bonificaciones o monederos electrónicos).</li>
            <li>No aplica para servicios de importacion.</li>
            <li>No aplica para refacciones de equipos.</li>
            <li>Precios controlados por regiones.</li>
            <li>Ofertas de financiamiento, promociones especiales o de paquetes (se igualan precios regulares contra
              precios regulares siempre que el precio de igualación no parta de una oferta y/o promoción).</li>
            <li>Cotizaciones especiales para efectos de venta de mayoreo.</li>
            <li>Productos que smart copy vende con entrega a domicilio por mercado libre.</li>
            <li>La política no aplica sobre precios que resulten de otra igualación de precios.</li>
            <li>Está sujeta a la disponibilidad del producto en las tiendas smart copy de la cd. De mexico.</li>
          </ol>
        </div> <!-- end of text-container -->

        <div class="text-container">
          <h3>Facturación</h3>
          <p>
            Para facturacion, debera solicitarla con sus datos fiscales y su comrpobante de pago al correo
            facturacion@smartcopy.com.mx la factura solicitada deberá ser dentro del mes en curso en que realizó su
            compra. No procederán las solicitudes de facturas de compras de meses anteriores.
          </p>
          <p>
            Al solicitar su factura será necesario que tenga a la mano y proporcione los siguientes requisitos fiscales:
            rfc con homoclave, nombre completo o razón social, uso de cfdi, domicilio fiscal completo incluyendo calle,
            colonia, demarcación o municipio, estado y código postal, deberá proporcionar su e-mail donde le llegará su
            factura, en un plazo no mayor a 5 días hábiles.
          </p>
        </div> <!-- end of text-container -->

        <div class="text-container">
          <h3>Condiciones de las transacciones envíos
          </h3>
          <p>el tiempo estimado de entrega de un artículo será de máximo 15 días hábiles siguientes de la confirmación
            de tu compra. Las entregas se realizarán por pedido y no por partes.</p>
          <p>El lugar de entrega del producto será el lugar físico que señalaste como tu domicilio de entrega. En el
            caso que el pedido no te llegue en el plazo fijado, podrás contactar al 71-60-04-11 para conocer el estatus
            o consultar mediante el número de guía proporcionado en la información de “pedido enviado” via e-mail, en la
            página de dhl, estafeta, paquete express, potosinos, o fedex deberas darle seguimiento a tu pedido
            ingresando el número de guía en el tracking.</p>
          <p>Los artículos son empaquetados para su cuidado y protección, por lo que no hay envolturas especiales.</p>
        </div> <!-- end of text-container -->

        <div class="text-container last">
          <h3>Costos y tiempos de envío</h3>
          <p>Métodos de envío <br />
            Smart Copy garantiza que todos sus envíos llegarán a la dirección que el usuario determine y se encontrará
            sujeto a las condiciones que se señalan en la propia guía de envío y bajo condiciones y terminos que señale
            el sitio web de la paqueteria.
          </p>
          <p>El proceso de envío se inicia considerando la hora del día en que se realiza la confirmación de la compra,
            dependiendo de esto tu orden puede ser procesada el mismo día o hasta el siguiente día hábil.</p>
          <p>Los días hábiles son de lunes a viernes entre 8 a.m y 6 p.m., conforme la ley no se consideran días hábiles
            los siguientes: 1° de enero. Lunes correspondiente al 5 de febrero. Lunes correspondiente al 21 de marzo.
            Jueves y viernes santo. 1° de mayo. 16 de septiembre. Lunes correspondiente al 20 de noviembre. 25 de
            diciembre.
            Envíos a toda la republica mexicana, exclusivamente.
          </p>
        </div>
        <div class="text-container last">
          <h3>Gastos de envío</h3>
          <ol>
            <li>Pedidos menores ó igual a $10,999.00 mx = $250.00 mxn</li>
            <li>A partir de $ 11,000.00 mxn = $3,500.00 mxn (varia dependiendo las dimensiones del equipo y c.p. de
              cliente)
              entrega en tienda la entrega en tienda directa de productos no contemplara costo adicional.
            </li>
          </ol>
          <p>Exclusivamente tú o la persona que hayas designado podrán recoger la orden.</p>
          <p>Envío a la tienda algunos artículos quizá no estén disponibles para recogerlos en la tienda, nos pondremos
            en contacto contigo para darte otra opción para entregarte tu pedido.</p>
        </div>
        <div class="text-container last">
          <h3>Política de cancelaciones y devoluciones</h3>
          <p>Para cancelar tu orden es necesario que te comuniques al 71-60-04-18 y sigas las instrucciones.
            Una vez que su pedido este en transito no será posible cancelar.</p>
          <p>Cabe la posibilidad que su orden ya se haya procesado y no se pueda cancelar, en estos casos deberá
            proceder con la politica de devoluciones.</p>
          <p>En caso de que la orden ya haya sido enviada no habrá posibilidad de cancelarla y deberá seguir el proceso
            de devoluciones.</p>
        </div>
        <div class="text-container last">
          <h3>Cancelaciones en tienda</h3>
          <p>Si tu pedido fue ordenado para entrega en tienda, tienes derecho a cancelar tu orden en cualquier momento,
            al llegar a la tienda deberas entregar el producto, dirigirte con tu vendedor y exponer las razones de
            cancelacion, si estas no se encuentran en nuestra politica de cancelacion no podra procesar la devolucion.
          </p>
          <p>Si no acudes a la tienda con el producto en el periodo de 10 dias tu orden no podra cancelararse.
            Formas de devolucion
          </p>
          <p>Es posible, siempre y cuando el producto a devolver no haya sido abierto, usado, y cuente con su mismo
            embalaje con el que se envio. Del mismo modo, aplican los periodos de aclaración para cambios y
            devoluciones, así como las restricciones en los productos no aplicables.</p>
          <p>Consulta políticas de devolución.</p>
        </div>
        <div class="text-container last">
          <p>
            Para preguntas, dudas o comentarios sobre el estado de tu orden o la disponibilidad de un articulo,
            contáctanos a 71-60-04-11
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
  <app-copyright></app-copyright>