<app-navbar></app-navbar>

<!-- Header -->
<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Políticas de devolución
        </h1>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs">
          <a routerLink="/">Inicio</a><i class="fa fa-angle-double-right"></i><span>Políticas de devolución</span>
        </div> <!-- end of breadcrumbs -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="text-container">
          <h3>SMART COPY</h3>
          <p>POLITICAS DE DEVOLUCION Las políticas que se mencionan a continuación sólo aplican para las compras
            realizadas en la tienda Smart Copy que se ubica en la cd. De Mexico. Política de Cambios y Devoluciones
          </p>
          <p>IMPORTANTE: Se requiere presentar el recibo de compra original, así como una identificación oficial vigente
            para cambios y/o devoluciones. Para que un producto aplique para cambio o devolución (siempre y cuando no se haya abierto el empaque), éste deberá estar en las mismas condiciones que al momento de la compra, es decir, sin mostrar alteración o daño e incluir todas sus partes, accesorios, manuales, garantías y en su empaque original. Periodo de Cambios y Devoluciones Aceptamos los cambios y devoluciones de mercancía en tienda, después de la fecha de compra original conforme a las políticas y excepciones que se mencionan a continuación:
          </p>
          <div class="row">
            <div class="col-md-12">
              <ol class="li-space-lg">
                <li>Periodo de 7 días. Aceptamos cambios y devoluciones de mercancía hasta 7 días posteriores a la fecha de compra en: equipos de computo, equipos de impresión y copiado y equipos de alta producción</li>
                <li>Periodo de 10 días. Aceptamos cambios y devoluciones de mercancía hasta 10 días posteriores a la fecha de compra en: toner, refacciones y piezas de equipos.</li>
                <li>Periodo de 30 días. En productos nuevos Kyocera y Konica Minolta, el cambio y/o devolución se realizará, siempre y cuando se presente un diagnóstico del Fabricante y/o su Centro de Servicio que indique “Defectos de Fabricación”.</li>
                <li>Artículos que no tienen cambios o devoluciones (No reembolsables). No aceptamos devoluciones en los siguientes productos: que los números de seria no coincidan, que se hayan usado, que estén maltratados, que cuenten con su funcionamiento y no cumplan las expectativas del cliente.</li>
                <li>No habrá devoluciones en productos entregados a domicilio y con pago a contra entrega</li>
                <li>El cliente saldara todos los gastos que la operación haya generado, incluido logística, instalación, capacitación y viáticos. NOTA: Para productos o equipos entregados a domicilio, los cambios o devoluciones se reportarán directamente en la tienda con el producto. Para aquellos que hayan sido instalados por el personal de Smart Copy, éste será responsable de la desinstalación y el cliente pagara los gastos que estos hayan generado.</li>
              </ol>
            </div> <!-- end of col -->
          </div> <!-- end of row -->
        </div> <!-- end of text-container-->

        <div class="text-container">
          <h3>GARANTÍA</h3>
          <p>Si el producto es nuevo y presenta defectos de fabricación con posterioridad a los periodos señalados en los incisos a) b) y c), el cliente deberá acudir directamente con el fabricante o distribuidor autorizado (ver folleto de garantía del producto), para hacer su reclamación de garantía, salvo que el producto se haya adquirido con estado de uso o seminuevo, en cuyo caso se atenderá de conformidad a lo establecido en los términos y condiciones del contrato correspondiente en nuestra tienda, siempre que se encuentre dentro del periodo de vigencia</p>
          <p>Devolución por compras a meses sin intereses. Las devoluciones de compras a meses sin intereses serán por el importe total de la compra en una sola exhibición, debiendo en su caso solicitar con su banco la anulación de las parcialidades en caso de así requerirlo. Devolución por Mercado Libre: el proceso se apegara a los términos y condiciones que señala el sitio web de www.mercadolibre.com.mx siempre y cuando coincida con nuestras políticas de devolución y se respetaran los plazos que la plataforma exige. Método de Reembolsos. Los reembolsos se realizarán en nota de crédito o monedero electrónico para comprar en la misma tienda, en ningún caso se realizara reembolso en efectivo, ni por transferencia electrónica, cheques o vales de caja.</p>
        </div> <!-- end of text-container -->
      </div> <!-- end of col-->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->
<app-footer></app-footer>
<app-copyright></app-copyright>