<app-navbar></app-navbar>

<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 style="text-align: left;">Equipos de alto rendimiento</h1>
        <p style="width: 100%; text-align: left;">De las marcas más reconocidas en el mercado</p>
      </div>
    </div>
  </div>
</header>
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 cardGlobal" *ngFor="let item of products;"
        (click)="goDetailsPage(item)">
        <div class="cardImage" [style.backgroundImage]="'url(' + path + item.homeImage + ')'"></div>
        <div class="cardName">{{item.model}}</div>
        <div class="cardBrand">{{item.brand}}</div>
        <div class="cardPrice">{{item.priceIVA}}</div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<app-copyright></app-copyright>