<app-navbar></app-navbar>

<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Nuestros Productos</h1>
        <p style="width: 100%; text-align: center;">De las marcas más reconocidas en el mercado</p>
      </div>
    </div>
  </div>
</header>
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Multifuncionales A Color O En Blanco Y Negro
        </h2>
        <p>Contamos con una amplia gama en equipos multifuncionales en marcas como Kyocera y Konica Minolta, que se
          adaptan a las necesidades de cada cliente.</p>
        <p>Nuestras marcas de productos son reconocidas a nivel mundial por su eficiente desempeño. Equipos de alto,
          medio y bajo volumen, instalados en red, para una mejor interfaz entre los usuarios. La mayoría de los equipos
          en color o blanco y negro se pueden integrar a software que contabilice las impresiones de cada usuario y así
          conocer el volumen impreso en tiempo real.</p>
      </div>
    </div>
    <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="image-container">
              <img class="img-fluid" src="../../assets/images/kyocera.jpg" alt="alternative">
            </div>
          </div>
          <div class="col-lg-8">
            <h3>KYOCERA</h3>
            <hr>
            <h5>Equipos de alto volumen blanco y negro</h5>
            <p>
              Dispone de equipos flexibles que han ampliado su versatilidad con la incorporación de tarjetas de
              impresora,
              escáner y funciones de fax que mejoran el flujo documental de su empresa y que le permiten disponer de las
              soluciones de impresión más eficientes en cualquier entorno de trabajo.<br />
              Las impresoras KYOCERA permiten imprimir cientos de miles de páginas antes de tener que cambiar el tóner y
              el
              tambor lo que supone unos costes de mantenimiento más bajos y, por tanto, un ahorro de costes y un rápido
              retorno de la inversión para el empresario, al tiempo que conserva el medio ambiente.
            </p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">TASKalfa 8000i</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">TASKalfa 6500i</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">TASKalfa 4500i</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">TASKalfa 3500i</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">TASKalfa 3500i</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <h3>KONICA MINOLTA</h3>
            <hr>
            <h5>Equipos de alto volumen a color</h5>
            <p>
              Konica Minolta dispone de equipos flexibles que han ampliado su versatilidad con la incorporación de
              tarjetas de impresora, escáner y funciones de fax que mejoran el flujo documental de su empresa y que le
              permiten disponer de las soluciones de impresión más eficientes en cualquier entorno de trabajo. <br/> Equipos
              con la más alta resolución a color le harán ver la excelente calidad de impresión.
            </p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Bizhub C754</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Bizhub c654</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Bizhub C454</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">BIZHUB C364</div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="image-container">
              <img class="img-fluid" src="../../assets/images/konica_minolta-1000x600.jpg" alt="alternative">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<app-footer></app-footer>
<app-copyright></app-copyright>