<app-navbar></app-navbar>

<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Nuestras Soluciones</h1>
        <p style="width: 100%; text-align: center;">Beneficiando el desempeño de su empresa</p>
      </div>
    </div>
  </div>
</header>
<div class="ex-basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Soluciones de Impresión
        </h2>
        <p>En Smart Copy, contamos con soluciones, que te ayudaran a llevar un control, del volumen de impresión,
          copiado y escaneo en tu empresa, y así ahorrar costos.</p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-4">
        <div class="text-container">
          <h3 style="text-align: left;">Contabilización por Usuarios</h3>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Funciona como un sistema integrado al equipo en el cual se registra la actividad
                de impresión, copiado y escaneo de cada uno de los usuarios.</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-container">
          <h3 style="text-align: left;">Impresión Privada</h3>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">El usuario imprime como lo haría normalmente, pero la impresión, se guarda en una
                carpeta privada en el MFP, y solamente se podrá liberar introduciendo un PIN o una Tarjeta de
                Identificación Mifer o HID.</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-container">
          <h3 style="text-align: left;">Impresión a Buzon</h3>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">El usuario imprime como lo haría normalmente, pero la impresión se guarda en un
                buzón en el MFP, y se tendrá que liberar desde el panel del equipo.</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-container">
          <h3 style="text-align: left;">Autenticación con Tarjeta ó Pin</h3>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">El usuario imprime como lo haría normalmente, y solo se liberará la impresión con
                una Tarjeta de Identificación (Mifer o HID), o un PIN.</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-container">
          <h3 style="text-align: left;">Escaneo a Carpeta o E-mail</h3>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">El usuario escanea los documentos y desde el panel podrá elegir el destino de
                envió, ya sea a una carpeta creada en su PC o un E-mail.</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-12">
        <h2>
          Software de Administración
        </h2>
        <p>
          Es un software de gestión de impresión fácil de usar y que le permitirá gestionar, limitar y contar las
          impresiones, así como supervisar y llevar un registro de todas las actividades de impresión, analizar y
          monitorizar los costes, en la estación de trabajo, confirmar y autentificar los trabajos en la estación antes
          de su impresión efectiva, eliminar el desperdicio de papel y reducir el tiempo de mantenimiento de la
          impresora. Los softwares de administración de impresión han demostrado ser fructuoso para miles de
          instalaciones comerciales y educativas, en la automatización y simplificación de la administración de trabajos
          de impresión y del ahorro de costos de impresión no deseados.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/discover--glance@2x.png" alt="alternative">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-container">
          <h2>PaperCut</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Paper CutMF hace que sea más fácil administrar los dispositivos sin complejidad.
              </div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Paper Cut NG cuenta con un tablero de instrumentos en plataforma web.</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Reduces y controlas los costes de impresión</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Asignas el número de impresiones por usuario o departamento</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Se ejecuta en cualquier plataforma (Windows, Mac, Linux, Novell...)</div>
            </li>
          </ul>
          <a class="btn-solid-reg popup-with-move-anim" href="https://www.papercut.com/" target="_blanck">Saber
            más...</a>
        </div>
      </div>
    </div>
    <br />
    <br />

    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>EQUITRAC</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Logrará un trabajo de impresión simple, seguro y con el máximo ahorro en todas las
                etapas del proceso
              </div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">No tiene que preocuparse por servidores de impresión o por controladores
                compatibles.</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Contabilización completa para mejor control, de costos y seguridad</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Imprime desde cualquier sitio y a cualquier hora, y recoge los documentos cuando y
                donde los necesites.</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Ahorra las impresiones no reclamadas o trabajos innecesarios que se impriman</div>
            </li>
          </ul>
          <a class="btn-solid-reg popup-with-move-anim"
            href="https://www.nuance.com/es-es/dragon/business-solutions.html" target="_blanck">Saber más...</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/equitrac-b1.png" alt="alternative">
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<app-copyright></app-copyright>