.sliderOptions {
    width: 100%;
    overflow-x: scroll;
    display: flex;
}
.optionsCard {
    height: auto;
    border-radius: 5px;
    background-color: #ffffff;
}
.content {
    margin: 1rem;
    border-radius: 13px;
    height: auto;
}
.content h3 {
    margin: 5px 0;
    color: #1958a3;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
}
.content p {
    color: #444271;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    margin: 8px 0;
}
.content span {
    color: #393939;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 19px;
    margin: 10px 0;
}
.content:hover {
    cursor: pointer;
    box-shadow: 0 22px 34px 0 rgba(27, 20, 119, 0.11);
}
.imageCard {
    width: 200px;
    height: 120px;
    background-color: #d1d1d1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
