<div class="sliderOptions optionsCard">
  <div class="content" *ngFor="let item of data" (click)="showProduct(item)">
    <div class="imageCard" [style.backgroundImage]="'url(' + path + item.homeImage + ')'"></div>
    <h3>{{item.brand}}</h3>
    <p>{{item.model}}</p>
    <span>{{item.priceIVA}}</span>
  </div>
</div>