<app-navbar></app-navbar>
<header id="header" class="header">
  <div class="header-content verticalCenter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container">
            <h1 style="text-shadow: 2px 2px 3px #fff;"><span class="turquoise">Smart Copy</span> Impresión Inteligente
            </h1>
            <p class="p-large">
              <!-- Gestiona tus documentos de manera segura y económica -->
            </p>
            <a class="btn-solid-lg page-scroll" href="#services">DESCUBRIR</a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="image-container">
            <!-- <img class="img-fluid" src="../../assets/images/undraw_photocopy_gj0t.svg" alt="alternative"> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="slider-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Nuestros Productos</h2>
        <app-slider></app-slider>
        <p class="showAll" (click)="showAll()">Ver todo <i class="fas fa-arrow-right"></i></p>
      </div>
    </div>
  </div>
</div>

<!-- Services -->
<div id="services" class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Conoce Nestros Planes De Renta
        </h2>
        <h2>Ahorra Gastos Y Evita Riesgos</h2>
        <p class="p-heading p-large">
          Multifuncionales disponibles en diferentes velocidades. La gama completa incluye versátiles multifuncionales a
          color, impresoras láser color, sistemas flexibles en blanco y negro, una selección de impresoras en blanco y
          negro desde unidades de sobremesa hasta dispositivos para grupos de trabajo.
        </p>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card">
          <img class="card-image" src="../../assets/images/services-icon-3.svg" alt="alternative">
          <div class="card-body">
            <h4 class="card-title">Multifuncionales Actualizados
            </h4>
            <p>Para una mejor interacción entre el usuario y el equipo haciendo uso de apps móviles para una mejor
              comodidad</p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <img class="card-image" src="../../assets/images/services-icon-2.svg" alt="alternative">
          <div class="card-body">
            <h4 class="card-title">Técnicos Capacitados y Expertos
            </h4>
            <p>Para revolver de forma rápida, precisa y profesional los problemas que surjan para satisfacción de
              nuestros clientes.</p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <img class="card-image" src="../../assets/images/services-icon-1.svg" alt="alternative">
          <div class="card-body">
            <h4 class="card-title">Asistencia Remota Y
              Telefonica En Tiempo Real
            </h4>
            <p>Para ofrecer ayuda profesional de manera inmediata y así resolver problemas simples con los usuarios del
              MFP.
            </p>
          </div>
        </div>
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->


<!-- Details 1 -->
<div class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Nos Esforzamos Cada Dia Para Obtener Mejores Resultados</h2>
          <p>Gracias al trabajo en equipo y el colaborar activamente con nuestros
            clientes, ofrecemos soluciones de impresión, innovadoras y sostenibles para optimizar el desarrollo de su
            empresa
          </p>
          <!-- <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a> -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/details-1-office-worker.svg" alt="alternative">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="basic-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/details-2-office-team-work.svg" alt="alternative">
        </div> 
      </div>
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Search For Optimization Wherever Is Possible</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Basically we'll teach you step by step what you need to do</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">In order to develop your company and reach new heights</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body">Everyone will be pleased from stakeholders to employees</div>
            </li>
          </ul>
          <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">LIGHTBOX</a>
        </div> 
      </div> 
    </div> 
  </div>
</div>

<div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="container">
    <div class="row">
      <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
      <div class="col-lg-8">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/details-lightbox-1.svg" alt="alternative">
        </div> 
      </div>
      <div class="col-lg-4">
        <h3>Design And Plan</h3>
        <hr>
        <h5>Core feature</h5>
        <p>The emailing module basically will speed up your email marketing operations while offering more
          subscriber control.</p>
        <p>Do you need to build lists for your email campaigns? It just got easier with Evolo.</p>
        <ul class="list-unstyled li-space-lg">
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">List building framework</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Easy database browsing</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">User administration</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Automate user signup</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Quick formatting tools</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Fast email checking</div>
          </li>
        </ul>
      </div> 
    </div> 
  </div> 
</div>

<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
  <div class="container">
    <div class="row">
      <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
      <div class="col-lg-8">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/details-lightbox-2.svg" alt="alternative">
        </div> 
      </div> 
      <div class="col-lg-4">
        <h3>Search To Optimize</h3>
        <hr>
        <h5>Core feature</h5>
        <p>The emailing module basically will speed up your email marketing operations while offering more
          subscriber control.</p>
        <p>Do you need to build lists for your email campaigns? It just got easier with Evolo.</p>
        <ul class="list-unstyled li-space-lg">
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">List building framework</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Easy database browsing</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">User administration</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Automate user signup</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Quick formatting tools</div>
          </li>
          <li class="media">
            <i class="fas fa-check"></i>
            <div class="media-body">Fast email checking</div>
          </li>
        </ul>
        
      </div> 
    </div> 
  </div> 
</div>  -->

<!-- Pricing -->
<!-- <div id="pricing" class="cards-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Multiple Pricing Options</h2>
        <p class="p-heading p-large">We've prepared pricing plans for all budgets so you can get started
          right away. They're great for small companies and large organizations</p>
      </div>
    </div> 
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">STARTER</div>
            <div class="card-subtitle">Just to see what can be achieved</div>
            <hr class="cell-divide-hr">
            <div class="price">
              <span class="currency">$</span><span class="value">199</span>
              <div class="frequency">monthly</div>
            </div>
            <hr class="cell-divide-hr">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Improve Your Email Marketing</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">User And Admin Rights Control</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i>
                <div class="media-body">List Building And Cleaning</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i>
                <div class="media-body">Collected Data Management</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i>
                <div class="media-body">More Planning And Evaluation</div>
              </li>
            </ul>
            <div class="button-wrapper">
              <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
            </div>
          </div>
        </div> 
        <div class="card">
          <div class="card-body">
            <div class="card-title">MEDIUM</div>
            <div class="card-subtitle">Very appropriate for the short term</div>
            <hr class="cell-divide-hr">
            <div class="price">
              <span class="currency">$</span><span class="value">299</span>
              <div class="frequency">monthly</div>
            </div>
            <hr class="cell-divide-hr">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Improve Your Email Marketing</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">User And Admin Rights Control</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">List Building And Cleaning</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Collected Data Management</div>
              </li>
              <li class="media">
                <i class="fas fa-times"></i>
                <div class="media-body">More Planning And Evaluation</div>
              </li>
            </ul>
            <div class="button-wrapper">
              <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="label">
            <p class="best-value">Best Value</p>
          </div>
          <div class="card-body">
            <div class="card-title">COMPLETE</div>
            <div class="card-subtitle">Must have for large companies</div>
            <hr class="cell-divide-hr">
            <div class="price">
              <span class="currency">$</span><span class="value">399</span>
              <div class="frequency">monthly</div>
            </div>
            <hr class="cell-divide-hr">
            <ul class="list-unstyled li-space-lg">
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Improve Your Email Marketing</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">User And Admin Rights Control</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">List Building And Cleaning</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">Collected Data Management</div>
              </li>
              <li class="media">
                <i class="fas fa-check"></i>
                <div class="media-body">More Planning And Evaluation</div>
              </li>
            </ul>
            <div class="button-wrapper">
              <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
            </div>
          </div>
        </div>
      </div> 
    </div> 
  </div> 
</div>  -->


<!-- Request -->
<!-- <div id="request" class="form-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container">
          <h2>Fill The Following Form To Request A Meeting</h2>
          <p>Evolo is one of the easiest and feature packed marketing automation apps in the market.
            Discover what it can do for your business organization right away.</p>
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><strong class="blue">Automate your marketing</strong> activities
                and get results today</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><strong class="blue">Interact with all your</strong> targeted
                customers at a personal level</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><strong class="blue">Convince them to buy</strong> your
                company's awesome products</div>
            </li>
            <li class="media">
              <i class="fas fa-check"></i>
              <div class="media-body"><strong class="blue">Save precious time</strong> and invest it
                where you need it the most</div>
            </li>
          </ul>
        </div> 
      </div> 
      <div class="col-lg-6">
        <div class="form-container">
          <form id="requestForm" data-toggle="validator" data-focus="false">
            <div class="form-group">
              <input type="text" class="form-control-input" id="rname" name="rname" required>
              <label class="label-control" for="rname">Full name</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control-input" id="remail" name="remail" required>
              <label class="label-control" for="remail">Email</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control-input" id="rphone" name="rphone" required>
              <label class="label-control" for="rphone">Phone</label>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <select class="form-control-select" id="rselect" required>
                <option class="select-option" value="" disabled selected>Interested in...</option>
                <option class="select-option" value="Personal Loan">Starter</option>
                <option class="select-option" value="Car Loan">Medium</option>
                <option class="select-option" value="House Loan">Complete</option>
              </select>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group checkbox">
              <input type="checkbox" id="rterms" value="Agreed-to-Terms" name="rterms" required>I
              agree with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a
                href="terms-conditions.html">Terms & Conditions</a>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control-submit-button">REQUEST</button>
            </div>
            <div class="form-message">
              <div id="rmsgSubmit" class="h3 text-center hidden"></div>
            </div>
          </form>
        </div>
      </div>
    </div> 
  </div> 
</div>  -->
<!-- 
<div class="basic-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Check Out The Video</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="image-container">
          <div class="video-wrapper">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn">
              <img class="img-fluid" src="../../assets/images/video-frame.svg" alt="alternative">
              <span class="video-play-button">
                <span></span>
              </span>
            </a>
          </div>
        </div>
        <p>This video will show you a case study for one of our <strong>Major Customers</strong> and will
          help you understand why your startup needs Evolo in this highly competitive market</p>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="slider-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container">
          <img class="img-fluid" src="../../assets/images/testimonials-2-men-talking.svg" alt="alternative">
        </div>
      </div>
      <div class="col-lg-6">
        <h2>Testimonials</h2>
        <div class="slider-container">
          <div class="swiper-container card-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <img class="card-image" src="../../assets/images/testimonial-1.svg" alt="alternative">
                  <div class="card-body">
                    <p class="testimonial-text">I just finished my trial period and was so
                      amazed with the support and results that I purchased Evolo right away at
                      the special price.</p>
                    <p class="testimonial-author">Jude Thorn - Designer</p>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="card">
                  <img class="card-image" src="../../assets/images/testimonial-2.svg" alt="alternative">
                  <div class="card-body">
                    <p class="testimonial-text">Evolo has always helped or startup to position
                      itself in the highly competitive market of mobile applications. You will
                      not regret using it!</p>
                    <p class="testimonial-author">Marsha Singer - Developer</p>
                  </div>
                </div>
              </div> 
              <div class="swiper-slide">
                <div class="card">
                  <img class="card-image" src="../../assets/images/testimonial-3.svg" alt="alternative">
                  <div class="card-body">
                    <p class="testimonial-text">Love their services and was so amazed with the
                      support and results that I purchased Evolo for two years in a row. They
                      are awesome.</p>
                    <p class="testimonial-author">Roy Smith - Marketer</p>
                  </div>
                </div>
              </div> 
            </div> 
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div> 
        </div> 
      </div>
    </div> 
  </div> 
</div> -->
<!-- About -->
<div id="about" class="basic-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Nuestos Diferenciadores</h2>
        <!-- <p class="p-heading p-large">Meat our team of specialized marketers and business developers which
          will help you research new products and launch them in new emerging markets</p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="team-member">
          <!-- pexels-andrea-piacquadio-3760093.jpg -->
          <div class="image-item"
            style="background-image: url('../../assets/images/pexels-andrea-piacquadio-3760093.jpg')">
          </div>
          <p class="p-large"><strong>Rapidez y Eficacia en Nuestros Servicios</strong></p>
          <p class="job-title">Tiempos de respuesta de máximo 4hrs. Soluciones remotas al tiempo del reporte y
            asistencia telefónica para problemas simples.</p>
        </div>

        <!-- Team Member -->
        <div class="team-member">
          <div class="image-item" style="background-image: url('../../assets/images/pexels-burst-374085.jpg')">
          </div>
          <!-- -->
          <p class="p-large"><strong>Conectividad Remota</strong></p>
          <p class="job-title">A través de software como Team Viewer y otros softwares de conectividad remota, con chat
            online.
          </p>
        </div>
        <div class="team-member">
          <div class="image-item"
            style="background-image: url('../../assets/images/pexels-andrea-piacquadio-3790811.jpg')">
          </div>
          <p class="p-large"><strong>Impresiones de 1800dpi X 1200dpi</strong></p>
          <p class="job-title">Con la mejor resolución y equipos de alta velocidad para optimizar el desempeño de su
            empresa.</p>
        </div>
        <div class="team-member">
          <div class="image-item" style="background-image: url('../../assets/images/sigmund-59yRYIHWtzY-unsplash.jpg')">
          </div>
          <p class="p-large"><strong>Soluciones Técnicas Inmediatas</strong></p>
          <p class="job-title">En caso de alguna falla mecánica en los MFP se le dará una solución inmediata para no
            detener la cola de impresión de los usuarios.</p>
        </div>
        <div class="team-member">
          <div class="image-item" style="background-image: url('../../assets/images/ipad-820272_1920.jpg')">
          </div>
          <p class="p-large"><strong>Compatibilidad En Sistemas Operativos</strong></p>
          <p class="job-title">Nuestros MFP son 100% compatibles con cualquier S.O. y cuentan con drivers certificados
            para mejor conectividad de interfaz entre usuario y el equipo.</p>
        </div>
        <div class="team-member">
          <div class="image-item" style="background-image: url('../../assets/images/pexels-lisa-fotios-1092671.jpg')">
          </div>
          <p class="p-large"><strong>Impresión Desde Dispositivos Móviles</strong></p>
          <p class="job-title">Imprima en cualquier momento para mayor comodidad desde dispositivos mobiles con
            AirPrint, Google Cloud Print o Mopria Print Service.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="contact" class="form-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Contact Information</h2>
        <ul class="list-unstyled li-space-lg">
          <li class="address">Don't hesitate to give us a call or send us a contact form message</li>
          <li><i class="fas fa-map-marker-alt"></i>22 Innovative Area, San Francisco, CA 94043, US</li>
          <li><i class="fas fa-phone"></i><a class="turquoise" href="tel:003024630820">+81 720 2212</a>
          </li>
          <li><i class="fas fa-envelope"></i><a class="turquoise" href="mailto:office@evolo.com">office@evolo.com</a>
          </li>
        </ul>
      </div> 
    </div> 
    <div class="row">
      <div class="col-lg-6">
        <div class="map-responsive">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100939.98555098464!2d-122.507640204439!3d37.757814996609724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sro!4v1498231462606"
            allowfullscreen></iframe>
        </div>
      </div> 
      <div class="col-lg-6">
        <form id="contactForm" data-toggle="validator" data-focus="false">
          <div class="form-group">
            <input type="text" class="form-control-input" id="cname" required>
            <label class="label-control" for="cname">Name</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control-input" id="cemail" required>
            <label class="label-control" for="cemail">Email</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control-textarea" id="cmessage" required></textarea>
            <label class="label-control" for="cmessage">Your message</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group checkbox">
            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree
            with Evolo's stated <a href="privacy-policy.html">Privacy Policy</a> and <a
              href="terms-conditions.html">Terms Conditions</a>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
          </div>
          <div class="form-message">
            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div>  -->
<app-footer></app-footer>
<app-copyright></app-copyright>